# {{ ansible_managed }}
SOCIAL_AUTH_TWITTER_KEY = '{{ social_twitter_key }}'
SOCIAL_AUTH_TWITTER_SECRET = '{{ social_twitter_secret }}'
RAVEN_DSN = '{{ raven_dsn }}'
GOOGLE_MAPS_KEY = '{{ google_maps_key }}'
