upstream django {
    server 127.0.0.1:8000;
}

# configuration of the server
server {
    listen      80;
    server_name www.hopestarter.org staging.hopestarter.org;
    charset     utf-8;

    client_max_body_size 75M;

    location /media  {
        alias {{ app_home }}/hopestarterapp/site/media;
    }

    location /static {
        alias {{ app_home }}/hopestarterapp/site/static;
    }

    location ~ /(android-|apple-|ms-|fav)icon.* {
        root {{ app_home }}/hopestarterapp/site/static/img;
    }

    # Finally, send all non-media requests to the Django server.
    location / {
        uwsgi_pass  django;
        include     /etc/nginx/uwsgi_params;
    }
}
