/* ==========================================================================
  Hopestarter Web App
  Version: 0.2
  CSS Author: Harris Rodis
========================================================================== */



/********** Main Styles **********/

body > .container-fluid {
  padding: 0;
  color: #4A4A4A;
}

header.fixed {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 200;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
}

header.fixed.short {
  height: 60px;
}

.first {
  padding-top: 60px;
}

.second {
  padding-top: 60px;
}



/********** Header **********/

.topbar {
  height: 40px;
  padding: 20px 0 40px;
  margin: 0 30px;
  border-bottom: 1px solid #e1e1e1;
}

.topbar.profile-page {
  border-bottom: none;
}

.topbar h1 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1.2em;
  line-height: 20px;
}

.topbar h1 a {
  width: 168px;
  height: 20px;
  opacity: 1;
  -webkit-transition: opacity 0.4s; /* Safari */
  -moz-transition: opacity 0.4s; /* Mozilla */
  transition: opacity 0.4s;
}

.topbar h1 a:hover {
  opacity: 0.5;
}

.topbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.topbar nav ul li {
    display: inline;
    padding-left: 30px;
}

.topbar nav ul li a {
  font-size: 1em;
  line-height: 20px;
  color: #3DB4CC;
  -webkit-transition: color 0.4s; /* Safari */
  -moz-transition: color 0.4s; /* Mozilla */
  transition: color 0.4s;
}

.topbar nav ul li a:hover {
  color: #2E8799;
  text-decoration: none;
}

.info {
  height: 49px;
  padding-top: 10px;
  margin: 20px 30px;
}

h2.title {
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
  margin-top: 20px;
  color: #4A4A4A;
  float: left;
}

.counter h3 {
  font-size: 1.35em;
  line-height: 14px;
  font-weight: normal;
  color: #4A4A4A;
  text-align: right;
  margin-top: 8px;
}

.counter p {
  font-size: 0.9em;
  line-height: 12px;
  color: #A9A9A9;
  text-align: right;
}



/********** World Feed **********/

.feed {
  background-color: #14181A;
  padding: 20px;
}

.first .left-side,
.second .left-side {
  width: 380px;
  float: left;
}

.second .left-side {
  padding-top: 330px;
}

.status {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.profile-picture {
  width: 38px;
  height: 38px;
  margin: 0 10px 10px;
  float: left;
}

.profile-picture img {
    max-width:100%;
    max-height:100%;
}

.username {
  color: #3DB4CC;
  font-weight: bold;
  -webkit-transition: color 0.4s; /* Safari */
  -moz-transition: color 0.4s; /* Mozilla */
  transition: color 0.4s;
  display: block;
  margin: 0 10px 2px 58px;
}

.username:hover  {
  font-size: 1em;
  color: #2E8799;
  text-decoration: none;
}

.status a:hover {
  text-decoration: none;
}

.meta p {
  font-size: 0.8em;
  color: #A9A9A9;
}

.photo img { width: 100%; }

.message p {
  margin: 10px;
  font-size: 1em;
  color: #4A4A4A;
}

.number-of-views small {
  font-size: 0.8em;
  color: #A9A9A9;
  margin-left: 10px;
  padding-bottom: 10px;
}



/********** Interactive Map **********/

.first .right-side,
.second .right-side {
  margin-left: 380px;
  width: 100%;
}

.map {
  position: absolute;
  background-color: #224052;
  top: 60px;
  left: 380px;
  bottom: 0;
  right: 0;
}

.map span {
  color: white;
  margin: 50px;
  opacity: 0.4;
}


/********** World Feed **********/

.profile-info {
  background-color: white;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 100;
  width: 380px;
  padding: 30px;
  padding-bottom: 0;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.1);
}

.profile-info img {
  margin: auto;
  display: block;
}

.profile-info h1 {
  font-size: 1.6em;
}

.profile-info h2 {
  font-size: 1.2em;
  margin-top: 0;
  color: #A9A9A9;
}

.profile-info button {
  font-size: 1.2em;
  margin-top: 10px;
  color: white;
  background-color: #3DB4CC;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
  width: auto;
  max-width: 300px;
  -webkit-transition: background-color 0.4s; /* Safari */
  -moz-transition: background-color 0.4s; /* Mozilla */
  transition: background-color 0.4s;
}

.profile-info button:hover {
  background-color: #2E8799;
}

.stats {
  padding-top: 20px;
}

.updates {
  border-right: 1px solid #e1e1e1;
}

.updates h3,
.donations h3 {
  font-size: 1.35em;
  line-height: 14px;
  font-weight: normal;
  color: #4A4A4A;
  margin-top: 10px;
}

.updates p,
.donations p {
  font-size: 0.9em;
  line-height: 12px;
  color: #A9A9A9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 15px;
    border: 1px solid #888;
    width: 360px;
    text-align: center;
}

.modal-content h1 {
  font-size: 1.6em;
  font-weight: lighter;
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin-top: 30px;
}

.modal-content h1 strong {
  color: #224052;
  font-weight: bold;
}

.modal-content p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #A9A9A9;
}

.bitcoin-address {
  color: #224052;
}

/* The Close Button */
.close {
    color: #3DB4CC;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #2E8799;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

/* Profile Page */
.profile-panel {
  height: 100%;
  background-color: white;
  padding: 20px;
}


.profile-panel img {
  width: 64px;
  height: 64px;
}

.donation-button {
  margin: 10px 0 10px;
}

.donation-button .btn {
  background-color: #3DB4D1;
  border-width: 0;
}

.profile-panel .left-meta {
  border-right: 1px solid #e1e1e1;
}

.left-panel {
  margin-right: 0;
  padding-right: 0;
}

.right-panel {
  margin-left: 0;
  padding-left: 0;
}

