{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Hopestarter{% endblock %}</title>
    <meta charset="utf-8" />
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
  </head>

  <body>
		<div class="container-fluid">
			<header class="fixed">
				<div class="row topbar">
					<div class="col-md-12">
						<h1>
							<a href="/">
								<img src="{% static 'img/logo.png' %}" alt="Hopestarter" />
							</a>
						</h1>
						<nav>
							<ul>
								<li><a href="#">How to help</a></li>
								<li><a href="#">About us</a></li>
								<li>
						{% if user.is_authenticated %}
						{% user_display user as user_display %}
									<a title="{% blocktrans %}{{ user_display }} has logged in...{% endblocktrans %}"
									   href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
						{% else %}
									<a title="{% trans 'Please login' %}"
									   href="{% url 'account_login' %}">{% trans "Login" %}</a>
						{% endif %}
								</li>
							</ul>
						</nav>
					</div>
				</div>
				{% block header_extra %}{% endblock %}
			</header>

		    {% block content %}{% endblock %}
            <script src="{% static 'javascript/app.js' %}"></script>
		    {% block extrajs %}{% endblock %}
	  	</div>
  </body>
</html>
