{% load humanize %}

<div class="status">
  <header>
    <a class="profile-picture" href="/profile/{{ mark.user.username }}"><img src="{% if mark.user.profile.thumbnail_picture %}{{ mark.user.profile.thumbnail_picture.url }}{% else %}https://dl-web.dropbox.com/account_photo/get/dbid%3AAADpuOR1rMlu--LBQJi4BXnoUVIM0RYzpWY?vers=1417006963406&circle_crop=1&size=128x128{% endif %}" alt="profile picture of {{ mark.user.profile|escape }}"/></a>
    <a class="username" href="/profile/{{ mark.user.username }}">{{ mark.user.profile }}</a>
    <div class="meta">
      <p>
        <span class="ethnicity">{% for m in mark.user.membership.all %}{{ m.ethnicity }}{% include "comma.html" %}{% endfor %}</span> &middot; <span class="location">Athens, Greece</span> &middot; <span class="time">{{ mark.created|naturaltime }}</span>
      </p>
    </div>
  </header>
  {% if mark.small_picture %}
  <div class="photo">
    <img src="{{ mark.small_picture.url }}" alt="towel on beach"/>
  </div>
  {% endif %}
  {% if mark.text %}
  <div class="message">
    <p>{{ mark.text }}</p>
  </div>
  {% endif %}
  <div class="number-of-views">
    <small>344 views</small>
  </div>
</div>
