{% load humanize %}

<div class="status" data-mark-id="{{ mark.id }}">
  <header>
      <a class="profile-picture" href="/profile/{{ mark.user.username }}"><img src="{% if mark.user.profile.thumbnail_picture %}{{ mark.user.profile.thumbnail_picture.url }}{% else %}{{ DEFAULT_PROFILE_IMAGE }}{% endif %}" alt="profile picture of {{ mark.user.profile|escape }}"/></a>
    <a class="username" href="/profile/{{ mark.user.username }}">{{ mark.user.profile }}</a>
    <div class="meta">
      <p>
        <span class="ethnicity">{% for m in mark.user.membership.all %}{{ m.ethnicity }}{% include "comma.html" %}{% endfor %}</span>
          &middot; <span class="location">{% if mark.city %}{{ mark.city }}, {% endif %}{% if mark.country %}{{ mark.country }} &middot; {% endif %}</span>
         <span class="time">{{ mark.created|naturaltime }}</span>
      </p>
    </div>
  </header>
  {% if mark.medium_picture %}
  <div class="photo">
    <img src="{{ mark.medium_picture.url }}" alt="towel on beach"/>
  </div>
  {% endif %}
  {% if mark.text %}
  <div class="message">
    <p>{{ mark.text }}</p>
  </div>
  {% endif %}
  <div class="number-of-views">
    <small>344 views</small>
  </div>
</div>
