{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ block.super }} - Location feed{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{{ block.super }}
{% endblock %}

{% block header_extra %}
    <div class="row info">
        <div class="col-md-7">
            <h2 class="title">World Updates</h2>
        </div>
        <div class="col-md-3 counter">
            <h3>838 refugees</h3>
            <p>need your help around the world</p>
        </div>
        <div class="col-md-2 counter">
            <h3>$1206,43</h3>
            <p>donated to them so far</p>
        </div>
    </div>
{% endblock %}

{% block content %}

  <div class="first">
    <div class="left-side">
    {% for mark in object_list %}
      <div class="status">
        <header>
          <a class="profile-picture" href="/profile/{{ mark.user.profile.id }}"><img src="{% if mark.user.profile.thumbnail_picture %}{{ mark.user.profile.thumbnail_picture.url }}{% else %}https://dl-web.dropbox.com/account_photo/get/dbid%3AAADpuOR1rMlu--LBQJi4BXnoUVIM0RYzpWY?vers=1417006963406&circle_crop=1&size=128x128{% endif %}" alt="profile picture of {{ mark.user.profile|escape }}"/></a>
          <a class="username" href="/profile/{{ mark.user.profile.id }}">{{ mark.user.profile }}</a>
          <div class="meta">
            <p>
              <span class="ethnicity">{% for m in mark.user.membership.all %}{{ m.ethnicity }}{% include "comma.html" %}{% endfor %}</span> &middot; <span class="location">Athens, Greece</span> &middot; <span class="time">{{ mark.created|naturaltime }}</span>
            </p>
          </div>
        </header>
        {% if mark.picture %}
        <div class="photo">
            <img src="{{ mark.picture.url }}" alt="towel on beach"/>
        </div>
        {% endif %}
        {% if mark.text %}
        <div class="message">
            <p>{{ mark.text }}</p>
        </div>
        {% endif %}
        <div class="number-of-views">
          <small>344 views</small>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="right-side">
      <div id="map" class="map" style="top:150px"></div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  var data = [
    {% for mark in object_list %}
      {'lat': {{ mark.point.x }}, 'long': {{ mark.point.y }} },
    {% endfor %}
  ];
</script>

{% include "map.html" %}

{% endblock %}
