{% extends "base.html" %}

{% block title %}{{ block.super }} - Location feed{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{{ block.super }}
{% endblock %}

{% block header_extra %}
    <div class="row info">
        <div class="col-md-7">
            <h2 class="title">World Updates</h2>
        </div>
        <div class="col-md-3 counter">
            <h3>838 refugees</h3>
            <p>need your help around the world</p>
        </div>
        <div class="col-md-2 counter">
            <h3>$1206,43</h3>
            <p>donated to them so far</p>
        </div>
    </div>
{% endblock %}

{% block content %}

  <div class="first">
    <div class="left-side feed">
    {% for mark in object_list %}
      {% include "feed-post.html" %}
    {% endfor %}
    </div>
    <div class="right-side">
      <div id="map" class="map" style="top:150px"></div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
  var data = [
    {% for mark in object_list %}
      {'lat': {{ mark.point.y }}, 'lng': {{ mark.point.x }} },
    {% endfor %}
  ];
</script>

{% include "map.html" %}

{% endblock %}
