{% load static %}
<div class="ref-status--profile">
  <form action="{% url 'vetting' %}" class="vet-form" method="POST" data-user-id="{{ profile.user.id }}">{% csrf_token %}
  <a href="{% url 'user-profile' profile.user.username %}"><img class="profile-pic" src="{% if profile.thumbnail_picture %}{{ profile.thumbnail_picture.url }}{% else %}{% static 'img/ngo-view/profile-pic-placeholder_small.png' %}{% endif %}" alt="profile picture of {{ profile|escape }}"/></a>
  <p class="who">{{ profile }}</p>
  <p class="from-where">{% for m in profile.user.membership.all %}{{ m.ethnicity }}{% include "comma.html" %}{% endfor %}</p>
  {% if profile.vetted %}
  <button class="vet-status vet-status--vetted"><span class="icon-vetted"></span>Vetted</button>
  {% else %}
  <button class="vet-status vet-status--unvetted">Unvetted</button>
  {% endif %}
  </form>
</div>
