{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}Hopestarter Refugee Status{% endblock %}
{% block header_extra %}
        <div class="row tabbar">
          <div class="col-xs-4">
            <input id="tab1" value="any" type="radio" name="tabs" checked="checked">
            <label for="tab1">All</label>
          </div>
          <div class="col-xs-4">
            <input id="tab2" value="vetted" type="radio" name="tabs">
            <label for="tab2">Vetted</label>
          </div>
          <div class="col-xs-4">
            <input id="tab3" value="unvetted" type="radio" name="tabs">
            <label for="tab3">Unvetted</label>
          </div>
        </div>

        <form class="row searchbar">
          <input class="col-xs-9" type="text" placeholder="Search a refugee name" required>
          <button class="col-xs-3" type="submit">Search</button>
        </form>
{% endblock %}

{% block content %}
      <div class="refugees-list">
        <div id="content1">
        {% for profile in object_list %}
          {% include "vetting-post.html" %}
        {% endfor %}
        </div>
      </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'javascript/ref_status.js' %}"></script>
{% endblock %}
